/* CSS for the sidebar */
.sidebar {
    font-family: 'Nunito', sans-serif;
    width: 200px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #555;
}

/* Optionally, you can style the active link differently */
.sidebar a.active {
    background-color: #1E90FF; /* Change the color to your preference */
}
